<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.with.bai.admin.dao.IndexDao">

    <select id="orderCount" resultType="java.lang.Integer">
        SELECT
        COUNT(*)
        FROM
        wb_orders
        WHERE
        state=0;
    </select>
    
    <select id="registCount" resultType="java.lang.Integer">
        SELECT
        COUNT(*)
        FROM
        wb_user
    </select>

</mapper>