<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.with.bai.admin.dao.NewDao">


    <insert id="save">
        INSERT INTO
        wb_information(
        title,
        time,
	    image,
	    content
        )values(
        #{title},
        #{time},
        #{image},
        #{content}
        )
    </insert>
</mapper>